.f-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.top{
    background: url(../img/hero-1.jpg) no-repeat top center/cover;
    padding-bottom: 80px;
    header{
        padding-top: 40px;  
        .container{
            .logo{

            }
            .navbar{
                ul{
                    display: flex;
                    li{
                        margin: 0px 20px;
                        a{
                            position: relative;
                            &:hover{
                                &::after{
                                    width: 100%;
                                }
                            }
                            padding: 30px 0px;
                            &::after{
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 0%;
                                height: 3px;
                                background: green;
                                transition: all 0.5s;
                            }
                        }
                    }
                }
            }
        }
    }
    .fv{
        margin-top: 10px;
        .text{
            flex-basis: 40%;
            $fv-color : #00A69B;
            h1{
                color: $fv-color;
                font-size: 48px;
                font-weight: normal;
            }
            a{
                color: white;
                background: $fv-color;
                margin-top: 40px;
                padding: 10px 20px;
                border-radius: 20px;
                display: inline-block;
            }
        }

        .fv-img{
            flex-basis:570px;
            margin-right: 6px;
        }

    }
}

@mixin circle($r,$color){
    height: $r;
    width: $r;
    border-radius: 50%;
    background: $color;
}


.top-button{
    @include circle(40px,#00a69b);
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: all 1s;
    cursor: pointer;
    &:hover{
        background: black;
    }
    display: none;
}

.ranh{
    height: 1000px;
    background: #fff;
}